---
import type { ModData } from '../lib/getMod';

import Link from './Link.astro';
import Tag from './Tag.astro';

interface Props {
	mod: ModData;
}

const { data: { tags, source }, modJson: { name, authors, id, description, version } } = Astro.props.mod;
---

<article class='mod' id={id}>
	<div>
		<h1><a href={`#${id}`}>{name}</a> <span class='version'>{version}</span></h1>
		<h2>{authors.join(', ')}</h2>

		{tags && tags.map(tag => <Tag tag={tag} />)}

		<p>{description}</p>
	</div>

	<div class='links'>
		<Link href={`/mod/${id}.zip?${Date.now()}`} icon='disk'>Download</Link>
		{source && <Link href={source} icon='eye'>
			View Source
		</Link>}
	</div>
</article>

<style lang='scss'>
	.mod {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		padding: 8px;
		border: 1px solid var(--accent);
		background-color: var(--bg);
		box-shadow: 4px 4px rgba(0, 0, 0, 0.2);

		max-width: 500px;
		width: 100%;

		&:target { outline: 4px solid #0088d2; }

		h1, h2 {
			margin: 0;
		}
		
		h1 {
			font-size: 1.25rem;
			
			a {
				text-decoration: none;
				&:hover { text-decoration: underline; }
			}
		}

		h2 {
			font-size: 1rem;
			font-weight: 500;
		}

		.version {
			font-size: 0.75rem;
			font-weight: 500;
			color: rgba(0, 0, 0, 0.5);
		}
	}

	.links {
		display: flex;
		flex-direction: row;
		gap: 4px;
	}
</style>
